﻿@model IEnumerable<Skillz.Models.Car>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Make)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Model)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Color)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Price)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.TrimLevel)
    </th>
    <th></th>
</tr>
@if (!Model.Any())
{
    <tr>
        <td colspan="42">No cars, yet!</td>
    </tr>
}
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrimLevel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary" })
            @if (!item.IsDeleted)
            {
                <button data-delete-url="@Url.Action("Delete", "Default", new { id = item.Id })" type="button" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this record?')">Delete</button>
            }
            else
            {
                <span class="badge badge-danger">Deleted</span>
            }
        </td>
    </tr>
}

</table>