﻿@model Skillz.Models.Car
@{
    var isNew = Model == null || Model.Id == 0;
    ViewBag.Title = isNew ? "Add Car" : "Edit Car";
}

<a href="@Url.Action("Index")" class="mb-2 btn btn-outline-secondary"><i class="fa fa-chevron-left"></i> Back to Cars</a>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @if (!isNew)
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IsDeleted)
    }

    <div class="form-row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Make, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Make, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-3">
            
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.TrimLevel, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.TrimLevel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TrimLevel, "", new { @class = "text-danger" })
        </div>
    </div>


    <button type="submit" class="btn btn-primary">
        @(isNew ? "Add" : "Save")
    </button>
</div>
}
