﻿@model IEnumerable<Skillz.Models.Car>

@{
    ViewBag.Title = "Cars";
    bool showDeleted = ViewBag.ShowDeleted;
}
@section scripts{
    <script>
        $(document).ready(function () {
            $(document).on('click', '[data-delete-url]', deleteCar);
        });
        function deleteCar(e) {
            e.preventDefault();
            var url = $(this).data('delete-url')// @*'@Url.Action("Delete")?id=' + id;*@
            $.post(url).done(function () {
                $.getScript('@Url.Action("Index")?showDeleted=@showDeleted').error(function(e) {
				    if (e.status === 404) {
					    $('#carsList').html('<div class="alert alert-info" style="padding: 5px 10px;">' + e.statusText + '</div>');
				    } else {
					    $('#carsList').html('<div class="alert alert-danger" style="padding: 5px 10px;">Error loading cars</div>');
				    }
			    });
            });

        }
    </script>
}
<p>
    @Html.ActionLink("Add New Car", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Show All", "Index", new { showDeleted = true }, new { @class = "btn btn-secondary" })
</p>
<div id="carsList">
    @Html.Partial("_CarsList", Model)
</div>